[submodule "modules/voxel"]
	path = modules/voxel
	url = https://github.com/Zylann/godot_voxel.git
[submodule "modules/oamlGodotDemo"]
	path = modules/oamlGodotDemo
	url = https://github.com/oamldev/oamlGodotDemo.git
[submodule "modules/character"]
	path = modules/character
	url = git@github.com:Jay2645/character.git
[submodule "modules/command"]
	path = modules/command
	url = git@github.com:Jay2645/command.git
